@model iBanking.Models.Branch

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background-color:#EDEDED; padding: 10px 0px 10px 0px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <p class="col-md-3 control-label " style="text-align:right; padding-right:5px;">Name :</p>
            <div class="col-md-2" style="padding-left:0px">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <p class="col-md-1 control-label" style="text-align:right; padding-right:5px;">Address :</p>
            <div class="col-md-6" style="padding-left:0px">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label " style="text-align:right; padding-right:5px;">Phone :</p>
            <div class="col-md-2" style="padding-left:0px">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>

            <p class="col-md-1 control-label" style="text-align:right; padding-right:5px;">Fax :</p>
            <div class="col-md-6" style="padding-left:0px">
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" /> |
                <a href="/Branches/Index" class="btn btn-default">Back to list</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
