@{
    ViewBag.Title = "Home Page";
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2" style="text-align:right;">
            <img src="@ViewBag.ImagePath" alt="image" style="height:100px" />
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label class="col-md-4" style="text-align:right;">Name: </label>
                <div class="col-md-8">
                    @ViewBag.UserName
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4" style="text-align:right;">Action today : </label>
                <div class="col-md-2" style="text-align:center;">
                    @ViewBag.TransitionToday
                </div>
                <label class="col-md-5">transitions</label>
            </div>
            <div class="form-group">
                <label class="col-md-4" style="text-align:right;">Balance today : </label>
                <div class="col-md-2" style="text-align:center;">
                    @ViewBag.BalanceTransitionToday
                </div>
                <label class="col-md-5">Bahts</label>
            </div>
            <div class="form-group">
                <label class="col-md-4" style="text-align:right;">Total Fee: </label>
                <div class="col-md-2" style="text-align:center;">
                    @ViewBag.FeeTransitionToday
                </div>
                <label class="col-md-5">Bahts</label>
            </div>
        </div>
    </div>
</div>
<hr  style="border-width:2px; margin: 0px; padding: 5px; left:0; right: 0; width: 99%; height: 100%; top:0; bottom: 0; border-color:#808080"/>
<table id="datatable" class="tablegray" style="width:100%;">
    <thead>
        <tr>
            <th>Create date</th>
            <th>Category Name</th>
            <th>Account Name</th>
            <th>Transfer to Account</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>Net Amount</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.TransitionList)
        {
        <tr id="@t.ID">
            <td>@t.CreateDate</td>
            @if (t.CategoryID == 1)
            {
                <td>Deposit</td>
            }
            else if (t.CategoryID == 2)
            {
                <td>Withdraw</td>
            }
            else
            {
                <td>Transfer</td>
            }
            <td>@t.Customer.IBANNo</td>
            @if (t.Customer1 != null)
            {
                <td>@t.Customer1.IBANNo</td>
            }
            else
            {
                <td></td>
            }
            <td>@t.Amount.ToString("#,##0.##")</td>
            <td>@t.Fee.ToString("#,##0.##")</td>
            <td>@t.AfterFee.ToString("#,##0.##")</td>
            <td>@t.Note</td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $('#datatable').dataTable({
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false,
        "sDom": "t",
        "scrollY": window.innerHeight - 500,
        "scrollCollapse": true
    });
</script>
